<div id="homeContainer">
  <div class="whiteBorderGlassBox">
    <div class="homeHeadContainer">
      <div class="row">
        <div class="col-md-auto">
          <div class="avatarFrameOnline">
            <img src="assets/img/generic_avatar.png" id="homeAvatarPicture" alt="Avatar">
          </div>
        </div>
        <div class="col">
          <b>Gonzalo</b>
          <div><span>Online</span>
            <br>
            <span>Write a personal message</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="whiteContainerPadded mt-5">
    <div class="row">
      <div class="col">
        <input type="text" class="form-control" placeholder="Search Friend" [(ngModel)]="query"/>
      </div>
      <div class="col-md-auto">
        <img src="assets/img/logo_live_add.png" class="icon">
      </div>
    </div>
    <hr>
    <div>
      <b *ngIf="friends" >Friends ({{friends.length}}/{{friends.length}})</b>
      <div *ngFor="let user of friends | search: query; let i = index" class="d-block mb-2">
        <img src="assets/img/logo_live_online.png" class="icon">
        <span routerLink="/conversation/{{user.uid}}">
            {{user.nick}} - {{user.subNick || 'No subnick'}}
          <small>{{user.email}}</small>
          </span>
      </div>
    </div>

  </div>

</div>

